@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;700;800&display=swap');
body{
font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
p {
  margin-bottom: 1em;
}


h3{
font-family: 'Abril Fatface', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Xanh+Mono:ital@1&display=swap');
h4{
  font-family: 'Xanh Mono', monospace;
}
