@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;700;800&display=swap');
body{
font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
P {
  margin-bottom: 1em;
}
